<div class="card">
  <div class="card-header">
    <h4 class="card-title">Details for File: CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</h4>
    <a class="card-link text-right" [routerLink]="['../search']">Back to Search</a>
  </div>
  <div class="card-body">
    <div class="pull-right">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="dropdown-toggle">Original Name</th>
            <th class="dropdown-toggle">File Name</th>
            <th class="dropdown-toggle">Staging</th>
            <th class="dropdown-toggle">Proccess Time</th>
            <th class="dropdown-toggle">Total Amount</th>
            <th class="dropdown-toggle">Item Count</th>
            <th class="dropdown-toggle">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-success">
            <td>CCD.12131702.ICL.pgp</td>
            <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
            <td>MFT</td>
            <td>02/18/2018 10.47</td>
            <td>$$$,$$$.00</td>
            <td>######</td>
            <td>Processed</td>
          </tr>
          <tr class="table-success">
            <td>CCD.12131702.ICL.pgp</td>
            <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
            <td>ICL File Rename</td>
            <td>02/18/2018 10.48</td>
            <td>$$$,$$$.00</td>
            <td>######</td>
            <td>Processed</td>
          </tr>
          <tr class="table-success">
            <td>CCD.12131702.ICL.pgp</td>
            <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
            <td>FANS</td>
            <td>02/18/2018 10.49</td>
            <td>$$$,$$$.00</td>
            <td>######</td>
            <td>Processed</td>
          </tr>
          <tr class="table-success">
            <td>CCD.12131702.ICL.pgp</td>
            <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
            <td>NDM Connect Direct</td>
            <td>02/18/2018 10.50</td>
            <td>$$$,$$$.00</td>
            <td>######</td>
            <td>Processed</td>
          </tr>
          <tr class="table-danger">
            <td>CCD.12131702.ICL.pgp</td>
            <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
            <td>Vision IP</td>
            <td>02/18/2018 10.51</td>
            <td>$$$,$$$.00</td>
            <td>######</td>
            <td><button type="button" class="btn btn-light" disabled data-toggle="tooltip" data-placement="bottom" title="File transfer failed due to network outage.">Failed</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
