<div class="card">
  <div class="card-header">
    <h4 class="card-title">Details for file: CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</h4>
    <a class="card-link text-right" [routerLink]="['../home']">Back to Dashboard</a>
  </div>
  <div class="card-body">
    <div class="card w-100 h-25">
      <div class="card-body">
        <div class="pull-left">
          <p><b>Original file name:</b> CCD.STI.BRCL01.D171214</p>
          <span style="padding-right:40px"><b>Entry: </b>1001</span>
          <span style="padding-right:40px"><b>Sort Type: </b>222</span>
          <span style="padding-right:40px"><b>Cycle Date:</b>05/10/2018</span>
          <span style="padding-right:40px"><b>CDA:</b>No</span>
          <span style="padding-right:40px"><b>Type :</b>ECPI</span>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <div style="max-height:300px;overflow: auto">
        <table class="table table-striped">
          <thead class="bg-secondary dropdown text-white">
            <tr>
              <th class="dropdown-toggle">Type</th>
              <th class="dropdown-toggle">File Name</th>
              <th class="dropdown-toggle">Pickup</th>
              <th class="dropdown-toggle">Notify</th>
              <th class="dropdown-toggle">File Size</th>
              <th class="dropdown-toggle">Item Count</th>
              <th class="dropdown-toggle">Total Amt</th>
              <th class="dropdown-toggle">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MFT</td>
              <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
              <td></td>
              <td>02/18/2018 10:47:12</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>FRAMES</td>
              <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
              <td></td>
              <td>02/18/2018 10:47:12</td>
              <td>1024</td>
              <td>2,561</td>
              <td>123,456,12.03</td>
              <td></td>
            </tr>
            <tr>
              <td>NDM</td>
              <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
              <td></td>
              <td>02/18/2018 10:47:12</td>
              <td></td>
              <td></td>
              <td></td>
              <td>Transferred to VisionIP(\\host\foldername)</td>
            </tr>
            <tr>
              <td>99M</td>
              <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
              <td>02/18/2018 10:40:12</td>
              <td>02/18/2018 10:47:12</td>
              <td>1024</td>
              <td>2,561</td>
              <td>123,456,12.03</td>
              <td></td>
            </tr>
            <tr>
              <td>XOUT</td>
              <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
              <td></td>
              <td>02/18/2018 10:50:10</td>
              <td>1024</td>
              <td>2,561</td>
              <td>123,456,12.03</td>
              <td></td>
            </tr>
            <tr>
              <td>EXTR</td>
              <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
              <td></td>
              <td>02/18/2018 10:50:10</td>
              <td>1024</td>
              <td>2,561</td>
              <td>123,456,12.03</td>
              <td></td>
            </tr>
            <tr>
              <td>ARCH</td>
              <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
              <td></td>
              <td>02/18/2018 10:50:10</td>
              <td>1024</td>
              <td>2,561</td>
              <td>123,456,12.03</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
