<div class="card">
  <div class="card-header">
    <h4 class="card-title">File Monitoring and Status Tracker</h4>
    <a class="card-link text-right" [routerLink]="['../home']">Back to Dashboard</a>
  </div>
  <div class="card-body">
    <div class="pull-right">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="dropdown-toggle">Date Time</th>
            <th class="dropdown-toggle" title="Entry Name">Entry</th>
            <th class="dropdown-toggle">File Type</th>
            <th class="dropdown-toggle">File Name</th>
            <th class="dropdown-toggle" title="Cycle">C</th>
            <th class="dropdown-toggle" title="Sort Pattern">S/P</th>
            <th class="dropdown-toggle" title="Controlled Disbursement Indicator">CDA</th>
            <th class="dropdown-toggle" title="File Name Matched">FNM</th>
            <th class="dropdown-toggle" title="Amount Matched">AM</th>
            <th class="dropdown-toggle" title="Extracted">X</th>
            <th class="dropdown-toggle" title="Released">R</th>
            <th class="dropdown-toggle" title="Archived at Viewpointe">V</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>02/18/2018 10:47:56</td>
            <td><a class="card-link" routerLink="../details">1001</a></td>
            <td>ATM</td>
            <td><a class="card-link" routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>4</td>
            <td>220</td>
            <td>N</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
          </tr>          
          <tr>
            <td>02/18/2018 10:47:56</td>
            <td><a class="card-link" routerLink="../details">1001</a></td>
            <td>Mobile</td>
            <td><a class="card-link" routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>4</td>
            <td>220</td>
            <td>N</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
          </tr>          
          <tr>
            <td>02/18/2018 10:47:56</td>
            <td><a class="card-link" routerLink="../details">1001</a></td>
            <td>MQ</td>
            <td><a class="card-link" routerLink="../mqdetails">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>4</td>
            <td>220</td>
            <td>N</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
          </tr>          
          <tr>
            <td>02/18/2018 10:47:56</td>
            <td><a class="card-link" routerLink="../details">1001</a></td>
            <td>Teller Connect</td>
            <td><a class="card-link" routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>4</td>
            <td>220</td>
            <td>N</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
          </tr>
          <tr>
            <td>02/18/2018 10:47:56</td>
            <td><a class="card-link" routerLink="../details">1001</a></td>
            <td>ITM</td>
            <td><a class="card-link" routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>4</td>
            <td>220</td>
            <td>N</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
          </tr>
          <tr>
            <td>02/18/2018 10:47:56</td>
            <td><a class="card-link" routerLink="../details">1001</a></td>
            <td>MQ</td>
            <td><a class="card-link" routerLink="../mqdetails">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>4</td>
            <td>220</td>
            <td>N</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
          </tr>
          <tr>
            <td>02/18/2018 10:47:56</td>
            <td><a class="card-link" routerLink="../details">1001</a></td>
            <td>Mobile</td>
            <td><a class="card-link" routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>4</td>
            <td>220</td>
            <td>N</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
          </tr>
          <tr>
            <td>02/18/2018 10:47:56</td>
            <td><a class="card-link" routerLink="../details">1001</a></td>
            <td>ATM</td>
            <td><a class="card-link" routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>4</td>
            <td>220</td>
            <td>N</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
            <td>Y</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
