<div class="card">
  <div class="card-header">
    <h3 class="card-title">IPO - Monitoring</h3>
  </div>
  <div class="card-body">
    <div class="pull-right">
      <p>Monitoring all notifications from different source systems. Monitoring all notifications from different source systems. Monitoring all notifications from different source systems. Monitoring all notifications from different source systems.</p>
      <div class="card-deck text-light">
        <div class="card bg-secondary mb-3" style="max-width: 18rem;">
          <p class="card-header card-title">MFT Files</p>
          <div class="card-body">
            <p class="card-text">###,### files processed so far</p>
            <p class="card-text"><small class="card-text">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">See MFT Files</a>
          </div>
        </div>
        <div class="card bg-secondary mb-3" style="max-width: 18rem;">
          <p class="card-header card-title">ICL Files</p>
          <div class="card-body">
            <p class="card-text">###,### files processed so far</p>
            <p class="card-text"><small class="card-text">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">See ICL Files</a>
          </div>
        </div>
        <div class="card bg-secondary mb-3" style="max-width: 18rem;">
          <p class="card-header card-title">ATM</p>
          <div class="card-body">
            <p class="card-text">###,### files processed so far</p>
            <p class="card-text"><small class="card-text">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">See ATM Files</a>
          </div>
        </div>
        <div class="card bg-secondary mb-3" style="max-width: 18rem;">
          <p class="card-header card-title">NDM Files</p>
          <div class="card-body">
            <p class="card-text">###,### files processed so far</p>
            <p class="card-text"><small class="card-text">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">See NDM Files</a>
          </div>
        </div>
      </div>
      <div style="padding:20px">
        <p clas="font-weight-light">Search Hisory</p>
        <table class="table table-bordered table-sm">
          <thead class="thead-light">
            <tr>
              <th class="dropdown-toggle">Search Term</th>
              <th class="dropdown-toggle">Action</th>
              <th class="dropdown-toggle">Date Run</th>
              <th class="dropdown-toggle">Filters</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MFT Logs</td>
              <td><a href="#">Rerun Search</a></td>
              <td>03/10/2018</td>
              <td>WorkFlow: MFT, Status: Processed</td>
            </tr>
            <tr>
              <td>FRAMES Logs</td>
              <td><a href="#">Rerun Search</a></td>
              <td>03/10/2018</td>
              <td>WorkFlow: FRAMES, Status: Processed</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
