<div class="card">
    <div class="card-header">
        <h4 class="card-title">MQ Details for File: CCD.12131702.ICL.pgp</h4>
        <a class="card-link text-right" [routerLink]="['../search']">Back to Search</a>
    </div>
    <div class="card-body">
        <div class="pull-right">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="dropdown-toggle">File Name</th>
                        <th class="dropdown-toggle">Queue Name</th>
                        <th class="dropdown-toggle">Alies</th>
                        <th class="dropdown-toggle">Origination</th>
                        <th class="dropdown-toggle">Destination</th>
                        <th class="dropdown-toggle">Processed Time</th>
                        <th class="dropdown-toggle">Message ID</th>
                        <th class="dropdown-toggle">Total Amount</th>
                        <th class="dropdown-toggle">Item Count</th>
                        <th class="dropdown-toggle">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <td>CCD.12131702.ICL.pgp</td>
                        <td>Queue #12345</td>
                        <td>Alies Name</td>
                        <td>ATM</td>
                        <td>ICL File Rename</td>
                        <td>02/18/2018 10.47</td>
                        <td>Message #12345</td>
                        <td>$$$,$$$.00</td>
                        <td>######</td>
                        <td>Processed</td>
                    </tr>
                    <tr class="table-success">
                        <td>CCD.12131702.ICL.pgp</td>
                        <td>Queue #12345</td>
                        <td>Alies Name</td>
                        <td>ATM</td>
                        <td>ICL File Rename</td>
                        <td>02/18/2018 10.47</td>
                        <td>Message #12345</td>
                        <td>$$$,$$$.00</td>
                        <td>######</td>
                        <td>Processed</td>
                    </tr>
                    <tr class="table-success">
                        <td>CCD.12131702.ICL.pgp</td>
                        <td>Queue #12345</td>
                        <td>Alies Name</td>
                        <td>ATM</td>
                        <td>ICL File Rename</td>
                        <td>02/18/2018 10.47</td>
                        <td>Message #12345</td>
                        <td>$$$,$$$.00</td>
                        <td>######</td>
                        <td>Processed</td>
                    </tr>
                    <tr class="table-success">
                        <td>CCD.12131702.ICL.pgp</td>
                        <td>Queue #12345</td>
                        <td>Alies Name</td>
                        <td>ATM</td>
                        <td>ICL File Rename</td>
                        <td>02/18/2018 10.47</td>
                        <td>Message #12345</td>
                        <td>$$$,$$$.00</td>
                        <td>######</td>
                        <td>Processed</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
