<div class="card">
  <div class="card-header">
    <h4 class="card-title">OCD Entry Status</h4>
    <a class="card-link text-right" [routerLink]="['../home']">Back to Home</a>
  </div>
  <div class="card-body">
    <div class="pull-right">
      <table class="table table-striped">
        <thead class="bg-secondary">
          <tr>
            <th class="dropdown-toggle">Date Time</th>
            <th class="dropdown-toggle">File Name</th>
            <th class="dropdown-toggle">File Size</th>
            <th class="dropdown-toggle">Item Count</th>
            <th class="dropdown-toggle">Total Amt</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>02/18/2018 10:47:12</td>
            <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
            <td>1234</td>
            <td>12</td>
            <td>$$$,$$$.00</td>
          </tr>
          <tr>
            <td>02/18/2018 10:47:12</td>
            <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
            <td>1234</td>
            <td>12</td>
            <td>$$$,$$$.00</td>
          </tr>
          <tr>
            <td>02/18/2018 10:47:12</td>
            <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
            <td>1234</td>
            <td>12</td>
            <td>$$$,$$$.00</td>
          </tr>
          <tr>
            <td>02/18/2018 10:47:12</td>
            <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
            <td>1234</td>
            <td>12</td>
            <td>$$$,$$$.00</td>
          </tr>
          <tr>
            <td>02/18/2018 10:47:12</td>
            <td>CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</td>
            <td>1234</td>
            <td>12</td>
            <td>$$$,$$$.00</td>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>
</div>
<div class="card-deck" style="padding-top:10px">
  <div class="card bg-secondary mb-3" style="max-width: 40%;">
    <div class="card-header"><b>OCD Accumulated as of EOD 10/05/2018 05:30:21</b></div>
    <div class="card-body bg-light">
      <p class="card-text">Accumulated OCD Totals: <span class="text-primary">0     Items</span> <b>|</b> Total  <span class="text-primary">00.00</span></p>
      <p class="card-text">EOD OCD Deposit Totals: <span class="text-primary">0     Items</span> <b>|</b> Total  <span class="text-primary">00.00</span></p>
      <p class="card-text">OCD Differences:        <span class="text-primary">0     Items</span> <b>|</b> Total  <span class="text-primary">00.00</span></p>
    </div>
  </div>
  <div class="card bg-secondary mb-3" style="max-width: 40%;">
    <div class="card-header"><b>NOC Accumulated  as of EOD 10/05/2018 05:30:21</b></div>
    <div class="card-body bg-light">
      <p class="card-text">Accumulated NOC Totals: <span class="text-primary">2,581 Items</span> <b>|</b> Total  <span class="text-primary">84,963,922.00</span></p>
      <p class="card-text">EOD NOC Deposit Totals: <span class="text-primary">0     Items</span> <b>|</b> Total  <span class="text-primary">0.00</span></p>
      <p class="card-text">NOC Differences:        <span class="text-primary">0     Items</span> <b>|</b> Total  <span class="text-primary">0.00</span></p>
    </div>
  </div>
</div>
