<div class="card">
  <div class="card-header">
    <h3 class="card-title">IPO - Monitoring</h3>
  </div>
  <div class="card-body">
    <div class="pull-right">
      <p>Monitoring all notifications from different source systems. Monitoring all notifications from different source systems. Monitoring all notifications from different source systems. Monitoring all notifications from different source systems.</p>
      <ul class="pagination pagination-sm dropright">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">..</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="dropdown-toggle">Date</th>
            <th class="dropdown-toggle">Workflow</th>
            <th class="dropdown-toggle">File Name</th>
            <th class="dropdown-toggle">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-success">
            <td>02/18/2018</td>
            <td>FRAMES</td>
            <td><a routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>Processed</td>
          </tr>
          <tr class="table-active">
            <td>02/18/2018</td>
            <td>OCD</td>
            <td><a routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>In-Progress</td>
          </tr>
          <tr class="table-success">
            <td>02/17/2018</td>
            <td>ITM</td>
            <td><a routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>Processed</td>
          </tr>
          <tr class="table-success">
            <td>02/19/2018</td>
            <td>FRAMES</td>
            <td><a routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>Processed</td>
          </tr>
          <tr class="table-danger">
            <td>02/17/2018</td>
            <td>ATM</td>
            <td><a routerLink="../details">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>Failed</td>
          </tr>
          <tr class="table-active">
            <td>02/16/2018</td>
            <td>MQ Tracking</td>
            <td><a routerLink="../mqdetails">CCD.STI.BRCL01.D171214.S01960.T2141.IRDP.ECPI</a></td>
            <td>In-Progress</td>
          </tr>
        </tbody>
      </table>
      <div>
        <select>
          <option value="items">Items</option>
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>
</div>
